/*Nav Bar---------------*/
.navbar_margin{
    margin-left: 3%;
    margin-top: 3%;
}

.items_nav_bar{
    margin-left: 20%;
    color: white;
}
.texto_nav_bar{
    margin-top: 15%;
    text-align: center;
    font-family: Roboto-Bold;
    color: white;
    font-size: 120%;
    font-weight: bold;
}

.links{
    color: white;
    font-size: 100%;
    text-decoration: none;
}
.links:hover{
    color: #dadada;
    font-size: 105%;
    text-decoration: none;

}

/*Slides------------------*/
.container_slides{
    margin-bottom: 10%;
}

.titulo_slides{
    font-weight: bold;
    font-size: 300%;
    color: white;
}

.texto_slides{
    font-weight: normal;
    font-size: 120%;
}

.button_slide{
    background: transparent;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 12%;
    height: 3em;
    text-align: center;
    align-items: center;
    align-content: center;

}
.button_slide:hover{
    background: #0078b6;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 12%;
    height: 3em;
    text-align: center;
    align-items: center;
    align-content: center;

}
/*Imagenes de Fondos ----------------------------*/

.container_prodcutos{
    background-image: url("backround/triangles_back 001.png");
    background-repeat: no-repeat;
    background-size: 20%;
}

/*Productos-----------------------------*/

.container_prodcutos_general{
    margin-left: 7%;
}

.text_productos{

    font-weight: bold;
    font-size: 150%;
    color: #143557;
    line-height: 24px;
}

.container_cards_chapp{
    background: purple;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    margin-left: 10%;
    margin-right: 30%;
    width: 80em;
    height: 20em;
    box-shadow: 7px 7px 7px #666;        /* Sombra normal */
}

.container_cards_msys{
    background: #ff8400;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    margin-left: 10%;
    margin-right: 30%;
    width: 80em;
    height: 20em;
    box-shadow: 7px 7px 7px #666;
}