/*Nav Bar---------------*/
.navbar {
    background-color: rgb(34, 44, 108);;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.navbar_margin {
    margin-left: 3%;
    margin-top: 3%;
}

.nav-link {
    margin-left: 20%;
    color: white;
}

.texto_nav_bar {
    margin-top: 15%;
    text-align: center;
    font-family: Roboto-Bold;
    color: white;
    font-size: 120%;
    font-weight: bold;
}

.links {
    color: white;
    font-size: 100%;
    text-decoration: none;
}

.links:hover {
    color: #dadada;
    font-size: 105%;
    text-decoration: none;

}

.navbar-toggler{
    color: white;
    font-size: 40px;
}

/*Slides------------------*/
.container_slides {
    margin-bottom: 10%;
}

.titulo_slides {
    font-weight: bold;
    font-size: 300%;
    color: white;
}

.texto_slides {
    font-weight: normal;
    font-size: 120%;
}

.button_slide {
    background: transparent;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 12%;
    height: 3em;
    text-align: center;
    align-items: center;
    align-content: center;

}

.button_slide:hover {
    background: #0078b6;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 12%;
    height: 3em;
    text-align: center;
    align-items: center;
    align-content: center;

}

/*Imagenes de Fondos ----------------------------*/

.container_prodcutos {
    background-image: url("backround/triangles_back 001.png");
    background-repeat: no-repeat;
    background-size: 20%;
}

.container_servicios {
    background-image: url("backround/img_servicios.png");
    background-repeat: no-repeat;
    background-size: 110%;
}

.container_queines {
    background-image: url("backround/quienes_backgrpund.png");
    background-repeat: no-repeat;
    background-size: 50%;
}

.container_queines2 {
    background-image: url("backround/sesicomp_emblem.png");
    background-repeat: no-repeat;
    background-size: 50%;

}

.container_certificaciones {
    background-image: url("backround/backgrpund_certificaciones.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

/*Productos-----------------------------*/

.container_prodcutos_general {
    margin-left: 7%;
}

.text_productos {

    font-weight: bold;
    font-size: 150%;
    color: #143557;
    line-height: 24px;
}

.container_cards_chapp {
    background: rgba(52, 85, 247, 1);
    background: -moz-linear-gradient(left, rgba(52, 85, 247, 1) 0%, rgba(138, 39, 230, 1) 91%, rgba(138, 39, 230, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52, 85, 247, 1)), color-stop(91%, rgba(138, 39, 230, 1)), color-stop(100%, rgba(138, 39, 230, 1)));
    background: -webkit-linear-gradient(left, rgba(52, 85, 247, 1) 0%, rgba(138, 39, 230, 1) 91%, rgba(138, 39, 230, 1) 100%);
    background: -o-linear-gradient(left, rgba(52, 85, 247, 1) 0%, rgba(138, 39, 230, 1) 91%, rgba(138, 39, 230, 1) 100%);
    background: -ms-linear-gradient(left, rgba(52, 85, 247, 1) 0%, rgba(138, 39, 230, 1) 91%, rgba(138, 39, 230, 1) 100%);
    background: linear-gradient(to right, rgba(52, 85, 247, 1) 0%, rgba(138, 39, 230, 1) 91%, rgba(138, 39, 230, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3455f7', endColorstr='#8a27e6', GradientType=1);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    margin-left: 8%;
    margin-right: 30%;
    width: 80%;
    height: 100%;
    box-shadow: 7px 7px 7px #666; /* Sombra normal */
}

.container_cards_msys {
    background: rgba(250, 192, 75, 1);
    background: -moz-linear-gradient(left, rgba(250, 192, 75, 1) 0%, rgba(255, 153, 0, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250, 192, 75, 1)), color-stop(100%, rgba(255, 153, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(250, 192, 75, 1) 0%, rgba(255, 153, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(250, 192, 75, 1) 0%, rgba(255, 153, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(250, 192, 75, 1) 0%, rgba(255, 153, 0, 1) 100%);
    background: linear-gradient(to right, rgba(250, 192, 75, 1) 0%, rgba(255, 153, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fac04b', endColorstr='#ff9900', GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645', GradientType=1);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    margin-left: 8%;
    width: 80%;
    height: 100%;
    box-shadow: 7px 7px 7px #666;
}

/*Tarjeta de chapp---------*/
.logo_chapp_productos {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
}

.texto_chapp_productos {
    margin-top: 5%;
    margin-left: -5%;
    margin-bottom: 5%;
    font-size: 110%;
    font-weight: normal;
    color: white;
}

.button_chapp {
    background: transparent;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 80%;
    height: 2.5em;
    text-align: center;
    align-items: center;
    align-content: center;

}

.button_chapp:hover {
    background: rgba(0, 78, 182, 0.64);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 80%;
    height: 2.5em;
    text-align: center;
    align-items: center;
    align-content: center;

}

.image_chapp_producto {
    height: 100%;
    width: 137%;
}

/*Tarjeta de MSys---------*/
.logo_msys_productos {
    margin-top: 9%;
    margin-bottom: 7%;
    margin-left: 7%;
}

.texto_msys_productos {
    margin-top: 5%;
    margin-left: -5%;
    margin-bottom: 5%;
    font-size: 110%;
    font-weight: normal;
    color: white;
}

.button_msys {
    background: transparent;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 80%;
    height: 2.5em;
    text-align: center;
    align-items: center;
    align-content: center;

}

.button_msys:hover {
    background: rgba(182, 120, 0, 0.64);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 80%;
    height: 2.5em;
    text-align: center;
    align-items: center;
    align-content: center;

}

.image_msys_producto {
    margin-top: 15%;
    margin-left: -5%;
    height: 90%;
    width: 130%;
}

/*Servicios --------------*/

.text_servicios {

    font-weight: bold;
    font-size: 160%;
    color: #143557;
    line-height: 24px;
}

.container_servicios_general {
    margin-left: 7%;
    margin-right: 7%;
}

.cuadrado_opaco_servicios {
    height: 100%;
    width: 100%;
    background: white;
    opacity: .65;
}

/*Cuadros opacos----------------*/
.container_texto_servicios_cuadro {
    margin-top: 5%;
    margin-left: 8%;

}

.titulo_cuadro_servicios {
    color: darkblue;
    font-size: 120%;
    font-weight: bold;
}

.texto_cuadro_servicios {
    font-size: 100%;
    font-weight: normal;
    margin-right: 10%;
}

.container_footer {
    background: rgba(45, 53, 144, 1);
    background: -moz-linear-gradient(left, rgba(45, 53, 144, 1) 0%, rgba(32, 53, 114, 1) 47%, rgba(20, 53, 87, 1) 88%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45, 53, 144, 1)), color-stop(47%, rgba(32, 53, 114, 1)), color-stop(88%, rgba(20, 53, 87, 1)));
    background: -webkit-linear-gradient(left, rgba(45, 53, 144, 1) 0%, rgba(32, 53, 114, 1) 47%, rgba(20, 53, 87, 1) 88%);
    background: -o-linear-gradient(left, rgba(45, 53, 144, 1) 0%, rgba(32, 53, 114, 1) 47%, rgba(20, 53, 87, 1) 88%);
    background: -ms-linear-gradient(left, rgba(45, 53, 144, 1) 0%, rgba(32, 53, 114, 1) 47%, rgba(20, 53, 87, 1) 88%);
    background: linear-gradient(to right, rgba(45, 53, 144, 1) 0%, rgba(32, 53, 114, 1) 47%, rgba(20, 53, 87, 1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d3590', endColorstr='#143557', GradientType=1);
    color: white;
}

.footer_margin {
    margin-top: 2%;
    margin-left: 5%;
}

.form_container {
    margin-left: 10%;
}

.form_css {
    background: transparent;
    color: white;
}

.button_form {
    background: transparent;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 20%;
    height: 2.5em;
    text-align: center;
    align-items: center;
    align-content: center;
}

.button_form:hover {
    background: rgba(0, 0, 188, 0.8);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid white;
    color: white;
    width: 20%;
    height: 2.5em;
    text-align: center;
    align-items: center;
    align-content: center;
}

/*Seccion de quienes somos -------------------------- */

.text_quienes {
    color: #143557;
    font-weight: bold;
    font-size: 150%;
}

.title_valores {
    margin-top: 10%;
    margin-left: 15%;
    color: #989eac;
    font-weight: normal;
    font-size: 250%;
}

.text_valores {
    margin-left: 15%;
    color: #444444;
    font-weight: normal;
    font-size: 100%;
}

/* Nuestros clientes ---------------------*/

.title_nuestros_c {
    color: #1F2977;
    font-weight: normal;
    font-size: 150%;
}

/*Certificaciones ---------------------*/

.certificacioens_margin {
    margin-left: 5%;
}

.texto_ceritificacion {
    color: #1F2977;
    font-size: 100%;
    font-weight: normal;
}

/*Footer--------------*/

.container_footer_2 {
    color: white;
    background: #212121;
}

.text_footer_2 {
    color: white;
    font-weight: normal;
    font-size: 70%;
}